/*!
 *  build: vue-admin-beautiful 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-9-3 23:02:17
 */[data-v-f0cf652a]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#001529}.more-container[data-v-f0cf652a] .el-card__body>div{min-height:220px;padding:20px}.more-container[data-v-f0cf652a] .el-card__body>div>ul>li{line-height:30px}.more-container[data-v-f0cf652a] .el-card__body>div>img{display:block;margin:40px auto;border:1px solid #dedede}